

#container {
  width: 360px;
  margin: 0 auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(206, 206, 206, 0.459);
  font-family: 'Roboto', sans-serif;
  margin-top: 100px;
}

h1 {
  background-color: #b92b27;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
}

.fa-plus {
  float: right;
}

input {
  font-size: 18px;
  background: #f7f7f7;
  width: 100%;
  border: none;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

input::placeholder {
  font-weight: 200;
  text-align: center;
}

input:focus {
  background: white;
  outline: none
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background: white;
  height: 40px;
  line-height: 40px;
  color: #666;
  cursor: pointer;
}

li:hover span {
  width: 40px;
  opacity: 1;
}

li:nth-child(2n) {
  background-color: #f7f7f7;
}

.completed {
  color: gray;
  text-decoration: line-through;
}

span {
  background: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}